{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "defendant-address"
}) }}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Enter {{ data['defendant-name'] }}’s address</h1>
        <p class="govuk-body">It’s helpful to provide their address if you know it, so the court can check they have the correct address if a bailiff needs to visit them.</p>

        
        <form action="defendant-address-lookup-postcode" method="post" class="form">
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              Enter a UK postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="new-postcode" type="text" autocomplete="postal-code">
          </div>

          {{ govukButton({
            text: "Find address"
          }) }}
        </form>
        
        <p class="govuk-body"><a href="defendant-address-enter-manually" class="govuk-link">Enter address manually</a></p>
        
        {% include "includes/contact-for-help.html" %}
      </div>
    </div>



{% endblock %}