<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Enter card details
    </h1>
    {{ govukInput({
      label: {
        text: "Card details",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "card-number",
      name: "card-number"
    }) }}
    <img src="/public/images/accepted-cards-x2.png" class="card-img">
    <p class="accepted-copy-2">Accepted credit and debit card types</p>

    {{ govukDateInput({
      id: "expiry-date",
      namePrefix: "expiry-date",
      fieldset: {
        legend: {
          text: "Expiry date",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 27 3 2007"
      }
    }) }}

    {{ govukInput({
      label: {
        text: "Name on card",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "card-name",
      name: "card-name"
    }) }}

    {{ govukInput({
      label: {
        text: "Security number",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      hint: {
        text: "This is the 3 digit code at the back of your card"
      },
      id: "security-code",
      name: "security-code"
    }) }}

    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-4">Billing address</h2>
    <p class="accepted-copy-2">This is the address associated with the card</p>

    {{ govukInput({
      label: {
        text: "Country or territory",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "country-territory",
      name: "country-territory"
    }) }}

    {{ govukInput({
      label: {
        text: "Building number or name and street",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "building-number",
      name: "building-number"
    }) }}

    {{ govukInput({
      label: {
        text: "Town or city",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "town-city",
      name: "town-city"
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "payment-postcode",
      name: "payment-postcode"
    }) }}
    
    <hr class="govuk-section-break govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-top-4">Contact details</h2>
    <p class="accepted-copy-2">We'll send your payment confirmation here</p>

    {{ govukInput({
      label: {
        text: "Email",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      id: "payment-email",
      name: "payment-email"
    }) }}
    
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Pay now"
      }) }}
    
      {{ govukButton({
        text: "Cancel payment",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    
    {% include "includes/contact-for-help.html" %}

    
  </div>

  <div class="govuk-grid-column-one-third">
    
    {% from "x-govuk/components/summary-card/macro.njk" import xGovukSummaryCard %}
    
    {{ xGovukSummaryCard({
      classes: "govuk-!-margin-bottom-9",
      titleText: "Payment summary",
      rows: [{
        key: {
          text: "Address"
        }
      }]
    }) }}
  </div>
</div>