<h1 class="govuk-heading-l">
  Ask the court to try to recover your money
</h1>

<p>You can ask the court to try and get your money back if [defendant name] has not paid you.</p>
<p>You cannot apply if they’ve entered breathing space.</p>
<p>You’ll need to pay a fee to apply – the court adds this fee to the money owed to you. The court cannot guarantee you’ll get your money back.</p>


<p>Find out:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your options for recovering your money </li>
  <li>how to apply – online or by post</li>
</ul>

<p>Registering takes around 5 minutes.</p>

<a href="method-of-recovery" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-8"  data-module="govuk-button">
  Apply to recover your money
</a>

<h2 class="govuk-heading-m">Before you start, you might want to:</h2>

<ul class="govuk-list govuk-!-margin-bottom-8">
  <li>
    <a class="govuk-link" href="#">read guidance on recovering your money (opens in new window)</a>
  </li>
  <li>
    <a class="govuk-link" href="#">apply for help with your fees (opens in a new window)</a>
  </li>
</ul>