{{ govukDetails({
  summaryText: "Get help paying the fee",
  html: "
  
  <p>You may be able to get help paying the fee if one or more of the following apply:</p>
  <ul class='govuk-list govuk-list--bullet'>
    <li>you’re on certain benefits</li>
    <li>you have a little or no savings</li>
    <li>you have low income</li>
  </ul>
  
  <p>You can apply for this help online or by post.</p>
  <p>If you apply for the help online, you’ll get a reference number. Include that reference number when you fill in the attachment of earnings order form.</p>
  <p>If you want to apply for the help by post, you’ll need to send the Help with Fees and the attachment of earnings order application forms together.</p>
  <p><a href='https://www.gov.uk/get-help-with-court-fees' class='govuk-link'>Find out more about applying for help with your fees</a>.</p>
  "   
}) }}






