{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "claimant-address-unknown"
}) }}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Enter {{ data['claimant-name'] }}’s address</h1>
    <!-- <p class="govuk-body govuk-!-display-inline">Postcode you entered XXX XXX &nbsp; &nbsp;<a href="claimant-address-unknown" class="govuk-link">Change</a></p> -->
    
      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-!-display-inline"><span class="govuk-!-font-size-19">{{ data['new-claimant-postcode'] }}</span> &nbsp; &nbsp;<a href="claimant-address-unknown" class="govuk-link">Change</a></p>
    


    <form action="claimant-address-confirmed" method="post" class="form govuk-!-margin-top-6">
      <div class="govuk-form-group">
        {{ govukSelect({
              id: "pick-an-address",
              name: "pick-an-address",
              label: {
              text: "Select an address",
              classes: "govuk-!-font-weight-bold"
              },
              items: [
                {
                  value: "19 King Drive, London, W1 3HX",
                  text: "19 King Drive, London, W1 3HX"
                },
                {
                  value: "21 King Drive, London, W1 3HX",
                  text: "21 King Drive, London, W1 3HX",
                  selected: true
                },
                {
                  value: "23 King Drive, London, W1 3HX",
                  text: "23 King Drive, London, W1 3HX"
                },
                {
                  value: "25 King Drive, London, W1 3HX",
                  text: "25 King Drive, London, W1 3HX"
                }
              ]
            }) }}
      </div>

      {{ govukButton({
            text: "Save and continue"
          }) }}
    </form>

    <p class="govuk-body"><a href="#" class="govuk-link">I cannot find the address in the list</a></p>

    {% include "includes/contact-for-help.html" %}
  </div>

</div>


{% endblock %}