{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "claimant-phone-number"
}) }}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        
        
        {% if data["claimant-phone"] == "yes"  %}
        {{ govukPanel({ 
            titleText: data['claimant-name'] + " phone number has been confirmed", 
            classes: "govuk-!-text-align-left govuk-colour('white')", 
            text: "0121 425 7365"
        }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "defendant-address"
        }) }}
        {% endif %}

        
        
        {% if data["claimant-phone"] == "no"  %}
        {{ govukPanel({ 
            titleText: data['claimant-name'] + " phone number has been updated", 
            classes: "govuk-!-text-align-left govuk-colour('white')", 
            text: data['phones']
        }) }}

        {{ govukButton({
          text: "Save and continue",
          href: "defendant-address"
        }) }}
        {% endif %}
      

        <!-- <p class="govuk-body"><a href="#" class="govuk-link">I can't find the address in the list</a></p> -->
      </div>
    </div>


{% endblock %}