{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "how-much-do-you-want-to-recover"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">What additional costs have you paid? </h1>
        <p class="govuk-body">The court needs to know any additional costs you’ve paid to process the claim.</p>
        <p class="govuk-body">Include what the cost was for and the amount you paid.</p>
        
    <form action="defendant-address" method="post" class="form">

      {{ govukTextarea({
        name: "claiming-any-costs",
        id: "claiming-any-costs"
      }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
    
    {% include "includes/contact-for-help.html" %}

  </div>
</div>

{% endblock %}