{% extends "layout.html" %}
{% block content %}

{{ govukPhaseBanner({ 
    tag: { text: "prototype" }, 
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' 
}) }}

{{ govukBackLink({ 
    text: "Back", 
    href: "how-much-do-you-want-to-recover" 
}) }}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">You cannot apply for a warrant of control</h1>
        <p class="govuk-body">The amount you’re trying to recover is more than £5,000 so you cannot apply for a warrant of control.</p>
        <p class="govuk-body">You’ll need to apply for a different enforcement option.</p>
        
        <div class="govuk-button-group">
            {{ govukButton({ 
                text: "Go back to enforcement options",
                href: "method-of-recovery" 
            }) }}
        </div>
        
        {% include "includes/contact-for-help.html" %}
    </div>
</div>


{% endblock %}

24 Acacia Drive
London
SW1 9HA