{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "how-much-do-you-want-to-recover"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Is this the correct address of [defendant name]?</h1>
    <p class="govuk-body">The amount you are trying to recover is more than the judgement. Please provide additional information</p>
    
    <p class="govuk-body">24 Acacia Drive <br>London<br>SW1XXX</p>
    
        
    <form action="paid-any" method="post" class="form">

      {% set addressHtml %}
      {{ govukInput({
        id: "correct-defendant-address",
        address: "correct-defendant-name",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Correct address"
        },
        html: "<button class='govuk-button govuk-button--secondary' data-module='govuk-button'>Find address</button></div>"
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "is defendant address",
        name: "is defendant address",

        
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No, use a different address",
            conditional: {
              html: addressHtml
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


  </div>
</div>

{% endblock %}