{% extends "layout.html" %}
{% block content %}

{{ govukPhaseBanner({ 
    tag: { text: "prototype" }, 
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.' 
}) }}

{{ govukBackLink({ 
    text: "Back", 
    href: "defendant-address" 
}) }}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        {% if data["defendant-address"] == "yes"  %}
        {{ govukPanel({ 
            titleText: data['defendant-name'] + " address confirmed", 
            classes: "govuk-!-text-align-left govuk-colour('white')", 
            text: "24 Acacia Drive, London, SW1 9HA"
        }) }}

        {{ govukButton({ 
            text: "Save and continue", 
            href: "defendant-phone-number" 
        }) }}
        {% endif %}

        {% if data["defendant-address"] == "no"  %}
        {{ govukPanel({ 
            titleText: data['defendant-name'] + " address has been updated", 
            classes: "govuk-!-text-align-left govuk-colour('white')", 
            text: data['pick-an-address'] 
        }) }}

        {{ govukButton({ 
            text: "Save and continue", 
            href: "defendant-phone-number" 
        }) }}
        {% endif %}


        {% include "includes/contact-for-help.html" %}
    </div>
</div>


{% endblock %}

24 Acacia Drive
London
SW1 9HA