{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "how-much-do-you-want-to-recover"
}) }}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Is this the correct address for {{ data['defendant-name'] }}?</h1>
        <p class="govuk-body">A county court bailiff will use this address if they need to visit them to recover your money.</p>
        <!-- <p class="govuk-body">24 Acacia Drive <br>London<br>SW1 9HA</p> -->
        <h2 class="govuk-heading-m">24 Acacia Drive <br>London<br>SW1 9HA</h2>
        

        <form action="check-address" method="post" class="form">
          {{ govukRadios({
            idPrefix: "defendant-address",
            name: "defendant-address",
            
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, use a different address"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
        
        {% include "includes/contact-for-help.html" %}
      </div>
    </div>

{% endblock %}