{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "help-with-fees"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Has the defendant paid some of the amount owed?</h1>
        <p class="govuk-body">The balance outstanding on the judgment is £XXXX. The defendant was ordered to pay instalments of £XXX every week.</p>
        
    <form action="paid-any" method="post" class="form">

      {% set amountHtml %}
      {{ govukInput({
        id: "amount-paid-already",
        name: "amount-paid-already",
        classes: "govuk-!-width-one-third",
        label: {
          text: "Amount paid already"
        }
      }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "has paid",
        name: "has paid",

        hint: {
          text: "Select one option."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            conditional: {
              html: amountHtml
            }
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
    </form>


  </div>
</div>

{% endblock %}