{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "has-defendant-paid-any"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How much do you want to try to recover?</h1>
    <p class="govuk-body">The balance outstanding on the judgment is £XXXX. The defendant was ordered to pay instalments of £XXX every week.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The minimum amount you can try to recover is £XXX (4 weekly instalments).</li>
      <li>The maximum you can try to recover is £XXXX, plus any costs awarded to you or fees you've previously paid to recover your money.</li>
    </ul>

    <details>
      <summary class="govuk-!-margin-top-4 govuk-!-padding-bottom-2 govuk-!-font-size-19 govuk-link"><span></span>View amount breakdown</summary>



      {{ govukTable({
                    firstCellIsHeader: false,
                    classes: "govuk-!-margin-top-6",
                    head: [
                      {
                        text: "Amount breakdown"
                      },
                      {
                        text: "Amount"
                      }
                    ],
                    rows: [
                      [
                        {
                          text: "Breakdown 1"
                        },
                        {
                          text: "£000"
                        }
                      ],
                      [
                        {
                          text: "Breakdown 2"
                        },
                        {
                          text: "£000"
                        }
                      ],
                      [
                        {
                          text: "Breakdown 3"
                        },
                        {
                          text: "£000"
                        }
                      ],
                      [
                        {
                          text: "Breakdown 4"
                        },
                        {
                          text: "£000"
                        }
                      ]
                    ]
                  }) }}


    </details>


    <form action="#" method="post" class="form">
      {{ govukTable({
                firstCellIsHeader: false,
                classes: "govuk-!-margin-top-6",
                head: [
                  {
                    text: " "
                  },
                  {
                    text: "Amount"
                  }
                ],
                rows: [
                  [
                    {
                      text: "Amount to try and recover"
                    },
                    {
                      html: "<div class='govuk-form-group'>
                                <div class='govuk-input__wrapper'>
                                    <div class='govuk-input__prefix' aria-hidden='true'>£</div>
                                    <input class='govuk-input govuk-input--width-5' id='cost' name='cost' type='text' spellcheck='false'>
                                </div>
                            </div>"
                    }
                  ],
                  [
                    {
                      text: "Land registery cost"
                    },
                    {
                      text: "£000"
                    }
                  ],
                  [
                    {
                      text: "Warrant issue fee"
                    },
                    {
                      text: "£000"
                    }
                  ],
                  [
                    {
                      text: "HwF number"
                    },
                    {
                      text: "£000"
                    }
                  ],
                  [
                    {
                      text: "Signpost to HwF"
                    },
                    {
                      text: "£000"
                    }
                  ],
                  [
                    {
                      text: "Total",
                      classes: "govuk-!-font-weight-bold govuk-!-font-size-27"
                    },
                    {
                      text: "£000",
                      classes: "govuk-!-font-weight-bold govuk-!-font-size-27"
                    }
                  ]
                ]
              }) }}


    </form>
    <div class="govuk-button-group">
      {{ govukButton({
            text: "Save and continue (goes to additioanl costs screen)",
            href: "are-you-claiming-additional-costs"
          }) }}

      {{ govukButton({
            text: "Save and continue (goes to correct address screen)",
            href: "correct-address-of-defendant",
            classes: "govuk-button--secondary"
          }) }}
    </div>


  </div>
</div>

{% endblock %}