{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">How do you want to recover your money?</h1>
    <p class="govuk-body">Select the option that is most likely to get your money, based on what you know about [defendant’s name]’s financial situation.</p>

    {{ govukDetails({
      summaryText: "Apply to find out their financial situation",
      html: "<p class='govuk-body'>Ask the court to order [defendant name] to give evidence of their finances at a court hearing, for example bills and statements. The court fee is £110.</p> <p class='govuk-body'><a href='#' class='govuk-link'>Apply for an order for a debtor to attend court (opens in a new window)</a>.</p>"    
    }) }}

    <form action="recovery-method" method="post" class="form">
      {{ govukRadios({

        idPrefix: "recovery-method",
        name: "recovery-method",
        
        items: [
          {
            value: "warrant or writ",
            text: "Ask the court to collect your money",
            hint: {
              text: "If you believe they have the money they owe you, or items of that value to sell at auction. The court fee is either £83 or £71."
            }
          },
          
          {
            value: "attachment earnings order",
            text: "Get money deducted from their wages",
            hint: {
              text: "If they are in paid employment, the court might order their employer to deduct money from their wages. The court fee is £110."
            }
          },
          {
            value: "third party debt",
            text: "Freeze money in their bank or building society account",
            hint: {
              text: "The court will decide if money from their account can be used to pay you. The court fee is £110."
            }
          },
          {
            value: "charging order",
            text: "Charge them if they sell their land or property",
            hint: {
              text: "If they sell their land or property, the court will order them to pay the money they owe you. The court fee is £110."
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    {% include "includes/contact-for-help.html" %}

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>

{% endblock %}