{% set amountHtml %}
{{ govukInput({
  id: "paid already",
  name: "paid already",
  label: {
    text: "Amount already paid",
    classes: "govuk-label--l"
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "has-defendant-paid",
        name: "has-defendant-paid",
        fieldset: {
          legend: {
            text: "Has the defendant paid some of the amount owed?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "email",
      text: "Email",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "phone",
      text: "Phone",
      conditional: {
        html: phoneHtml
      }
    },
    {
      value: "text",
      text: "Text message",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}