{% extends "layout.html" %}


{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "which-court-are-you-applying-to"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply to the high court for a writ of control</h1>

    <p class="govuk-body">You can apply to the high court to collect your money. This is called a 'writ of control' application.</p>


    <p class="govuk-body">The court fee is £71 to apply. The court will try to recover the money you're owed, including the fee, by giving {{ data['defendant-name'] }} a deadline for payment.</p>

    <p class="govuk-body">If they do not pay in time, a high court bailiff will visit them to try to collect either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>payment for the money you're owed</li>
      <li>items of the same value to sell at auction</li>
    </ul>


    <!-- {{ govukInsetText({
      html: "<p class='govuk-body govuk-!-text-align-left'>
            If you have a Consumer Credit Act claim, you cannot apply to the high court. You'll need to 
            <a class='govuk-link' href='method-of-recovery'>select a different enforcement option</a>.</p>"
    }) }} -->


    <!------------------- HOW TO APPLY ------------------------>
    <h2 class="govuk-heading-m">How to apply</h2>
    <p class="govuk-body">Fill in a <a href="https://www.gov.uk/government/publications/form-no53-writ-of-control" target="_blank">
        writ of control application form (opens in a new window)</a>.</p>
    <p class="govuk-body">You can get help filling in the form at a Citizens Advice office.</p>
    <p class="govuk-body">Send the form by post to:</p>
    {{ govukInsetText({
      html: "<p class='govuk-body govuk-!-text-align-left'>County Court Money Claims Centre<br>PO Box 527<br>Salford<br>M5 0BY</p>"
    }) }}


    <!------------------- HOW TO PAY ------------------------>
    <h2 class="govuk-heading-m">How to pay</h2>

    <p>You can either pay by:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>debit or credit card – HM Courts and Tribunals Service (HMCTS) will call or email you with details of how to pay</li>
      <li>cheque or postal order – made payable to ‘HM courts and Tribunals Service’</li>
    </ul>


    <!----------- DETAILS COMPONENT ------------------>
    {{ govukDetails({
      summaryText: "Get help paying the fee",
      html: "
      
      <p>You may be able to get help paying the fee if one or more of the following apply:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>you’re on certain benefits</li>
        <li>you have a little or no savings</li>
        <li>you have low income</li>
      </ul>
      
      <p>You can apply for this help online or by post.</p>
      <p>If you apply for the help online, you’ll get a reference number. Include that reference number when you fill in the third-party debt order form.</p>
      <p>If you want to apply for the help by post, you’ll need to send the Help with Fees and the third-party debt order application forms together.</p>
      <p><a href='https://www.gov.uk/get-help-with-court-fees' class='govuk-link'>Find out more about applying for help with your fees</a>.</p>
      "   
    }) }}



    <form action='help-with-fees' method='post' class='form'>
      <div class='govuk-form-group'>
        <button class='govuk-button' data-module='govuk-button'>
          Save and continue
        </button>
      </div>
    </form>

    {% include "includes/contact-for-help.html" %}

  </div>

  <!-- <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Guidance
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://www.gov.uk/government/publications/what-to-do-if-a-defendant-doesnt-pay-money-after-judgment-ex321/what-to-do-if-you-have-a-judgement-but-the-defendant-has-not-paid-ex321" target="_blank">
              Find out more about recovering your money (opens in new window)
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div> -->
</div>

{% endblock %}