{% extends "layout.html" %}

{% block content %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-top-6">
      Apply for WoC Prototype
    </h1>




    <div class="moj-timeline">

      <!----------- LITIGANT IN PERSON JOURNEY SPRINT 2  - 17 AUG to 31 AUG ------------->
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">(LATEST) Litigant in Person Journey Version 2.1: </h2>

          <p class="moj-timeline__byline">Sprint 2</p>

        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">17th August - 31st August 2022</time>
        </p>

        <div class="moj-timeline__description">
          <p class="govuk-body govuk-!-font-weight-bold">Main changes during this sprint</p>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              New start page - 'apply-to-recover-your-money.html'
            </li>
            <li>
              Changes here
            </li>
            <li>
              Changes here
            </li>
          </ul>
          <a class="govuk-button govuk-button--primary" href="/v2-1/apply-to-recover-your-money">Launch LiP Prototype</a>
        </div>

      </div>




      <!----------- LITIGANT IN PERSON JOURNEY SPRINT 1  - 03 AUG to 17 AUG ------------->
      <div class="moj-timeline__item">

        <div class="moj-timeline__header">
          <h2 class="moj-timeline__title">Litigant in Person Journey Version 1.1: </h2>

          <p class="moj-timeline__byline">Sprint 1</p>

        </div>

        <p class="moj-timeline__date">
          <time datetime="2019-06-14T14:01:00.000Z">3rd August - 17th August 2022</time>
        </p>

        <div class="moj-timeline__description">
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              LiP (claimant) vs LiP (defendant) WoC application Journey
            </li>
          </ul>
          <a class="govuk-button govuk-button--primary" href="/v1-1/claimant">Launch LiP Prototype</a>
        </div>

      </div>



    </div>


  </div>
</div>

{% endblock %}